<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header-css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9MvcO" crossorigin="anonymous">
</head>


<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header-css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9MvcO" crossorigin="anonymous">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <nav class="col-md-3">
            <h3>Category</h3>
            <ul class="list-group">
                <li class="list-group-item" th:each="cat: ${categories}"><a
                        th:href="@{/searchByCategory(categoryId=${cat.id})}" th:text="${cat.categoryName}"></a></li>
            </ul>
        </nav>

        <div class="col-md-9">
            <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary mb-3">
                <a th:href="@{product/new}" class="text-white"><i class="fas fa-plus fa-2x"></i></a>
            </button>
            <div class="row row-cols-1 row-cols-md-3 g-4" th:if="${!products.isEmpty()}">
                <div class="col" th:each="product : ${products}">
                    <div class="card h-100">
                        <div sec:authorize="hasRole('ROLE_ADMIN')" class="admin">
                            <button class="btn btn-danger">
                                <a th:href="@{'product/delete/' + ${product.getId()}}" class="text-white"><i
                                        class="fas fa-times"></i></a>
                            </button>
                            <button class="btn btn-warning">
                                <a th:href="@{'product/edit/' + ${product.getId()}}" class="text-white"><i
                                        class="fas fa-wrench"></i></a>
                            </button>
                        </div>
                        <img class="card-img-top" th:if="${!product.getImageUrl().isEmpty()}"
                             th:src="${product.getImageUrl()}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${product.getName()}"></h4>
                            <p class="card-text" th:text="${product.getDescription()}"></p>
                        </div>
                        <div class="card-footer">
                            <p th:text="${product.getPrice()}"></p>
                            <a th:href="${'/cart/add/' + product.getId()}" class="btn btn-lg btn-outline-info btn-block"
                               th:text="#{product.add}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span th:text="#{product.count} + ' ' + ${productsCount}"></span>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9MvcO" crossorigin="anonymous"></script>
</body>
</html>